attrs==24.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==7.1.2
docker==4.3.1
dockerpty==0.4.1
docopt==0.6.2
exceptiongroup==1.2.2
gitdb==4.0.11
GitPython==3.1.7
google-auth==2.35.0
idna==3.10
kubernetes==11.0.0
lxml==5.3.0
numpy==1.24.4
oauthlib==3.2.2
opencv-python==4.10.0.84
outcome==1.3.0.post0
pdf2image==1.17.0
pillow==10.4.0
popper==2020.9.1
poppler-utils==0.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pykwalify==1.7.0
PyMuPDF==1.24.11
pyTelegramBotAPI==4.23.0
python-box==5.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==5.3.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
semver==3.0.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spython==0.0.79
telebot==0.0.5
trio==0.27.0
urllib3==2.2.3
Wand==0.6.13
websocket-client==1.8.0
